/* COLOR VARIABLES */
:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --grey: rgba(46, 47, 66, 0.70);
    --white: #fff;
    --dairy: #FCFCFC;
}

/* GLOBAL STYLES*/
a {
    color: var(--navyblue);
}

h1 {
    color: var(--white);
}

h2 {
    color: var(--navyblue);
}

h3 {
    color: var(--navyblue);
}

button:hover {
    cursor: pointer;
}

.header-web {
    color: var(--iris);
}

.header-studio {
    color: var(--navyblue);
}

.footer-web {
    color: var(--iris); 
}

.footer-studio {
    color: var(--cloud);
}

.footer-body {
    color: var(--cloud);
}

.nav-item a:hover {
    cursor: pointer;
    color: var(--ocean);
}

.nav-item a:focus {
    cursor: pointer;
    color: var(--ocean);
}

.address-contacts a:hover {
    cursor: pointer;
    color: var(--ocean);
}

.address-contacts a:focus {
    cursor: pointer;
    color: var(--ocean);
}

footer {
    background-color: var(--navyblue);
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
}

/* MAIN PAGE STYLES */
.hero {
    background-color: var(--navyblue);
    width: 1440px;
    height: 600px;
    flex-shrink: 0; 
}

.button-order-service {
    background-color: var(--iris);
    color: var(--white);
}

.button-order-service:hover {
    background-color: var(--ocean);
    color: var(--white);
}

.section-1-feature-body {
    color: var(--slate);
}

/* PORTFOLIO STYLES */